.main-div{
  overflow:auto;
  background:#c7eef5;
}
.outer-div{
  height: 530px;
  width: 270px;
  background:#55bdca;
  padding:30px;
  margin: 60px auto;
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}
.outer-div h1{
  background:#f07c41;
  color: #eee6e6;
  border-radius: 25px;
  height: 1.5em;
}
.inner-div input[type="text"]{
  position: relative;
  top:20px;
  width: 9em;
  background:transparent;
  border: none;
  border-bottom:4px solid #f07c41;
  outline: none;
  text-align: center;
  font-size:20px;
  font-weight: 500;
}
.inner-div button{
  position: relative;
  top: 10px;
  width: 1.3em;
  color:#eee6e6;
  background:#f07c41;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  font-size: 2.3em;
  font-weight: 600;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}
.inner-div button:hover{
  background: rgb(75, 202, 75);
  color: white;
}
.inner-div ol{
 padding-left:15px;
}
.scroll-bar{
  margin-top: 30px;
  height: 380px;
  overflow:auto;
}
.list-div{
  color: #f07c41;
  font-weight: bolder;
  margin-top: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  padding:0;
  font-size: 22px;
  font-weight: 500;
}
.list-div i{
  position: relative;
  top: 4px;
  color: #eee6e6;
  font-size: 1em;
  background: #f07c41;
  width: 25px;
  height: 23px;
  margin-right: 5px;
  border-radius: 100%;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);

}
.list-div i:hover{
  background: red;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#f07c41; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d67342; 
}